.edu_container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 3rem;
}

.edu{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background:  rgb(67, 13, 119);
  border-radius: 2rem 2rem 2rem 2rem;
  border: 1px solid var(--color-bg-variant);
  height:fit-content;
  transition: var(--transition);
}

.edu:hover{
  background: transparent;
  border-color: var(--color-bg-variant);
  cursor: default;
  transform: scale(1.05);
}

@media screen and (max-width: 1024px){
  .edu_container{
    grid-template-columns: 1fr 1fr;
    gap:2rem;
  }
  .edu{
    height:auto;
  }
}

@media screen and (max-width:600px){
  .edu_container{
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}


















/* .card{
    border-radius: 4px;
    background-color: rgb(148, 141, 240);
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

section{
  margin-top: 8rem;
  height: 100vh;
  padding: 5rem 0;
} */