.container.educations_container{
  margin-left: 1.5rem;
  
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:2.5rem;
  
}

.edu_avatar{
  width:20rem;
  /* aspect-ratio: 1/1; */
  overflow: hidden;
  margin: 0 auto 0;
  
}

.education{
  background-color: var(--color-bg-variant);
  text-align: center;
  padding: 2rem;
  user-select: none;
  transition: var(--transition);
  

}

.inst_name{
  margin-top: 2rem;
  font-weight:bold;
  font-size: medium;
}
.inst_details{

  color: var(--color-light);
  font-weight: 300;
  display: block;
  width: 80%;
   margin: 0.8rem auto 0; 
  font-weight: 500;
  font-style: italic;
}

.education:hover{
  background: transparent;
  border-color: var(--color-bg-variant);
  cursor: default;
  transform: scale(1.05);
}



@media screen and (max-width: 1024px){
 .container.educations_container{
  
  display: grid;
  align-content: center;
  align-items: center;

  grid-template-columns: 1fr; 

  
  
  /* gap: 2rem; */
 }

 .education{
  width: 85%;
  
  margin-left: 3%; 
 }
 
 
 .edu_avatar{
  width:100%;
 }
}

@media screen and (max-width:600px){
  .container.educations_container{
    width: var(--container-width-sm);
     margin-left: 3rem; }

     /* .education{
      display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:2rem; 
     } */
    
  .inst_details{
  width: var(--container-width-sm);
  }
}












/* @media screen and (max-width: 1024px){
  .edu_container{
    grid-template-columns: 1fr 1fr;
    gap:2rem;
  }
  .edu{
    height:auto;
  }
}

@media screen and (max-width:600px){
  .edu_container{
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}  */


















