.skills_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.skills_container > div{
  background: rgb(67, 13, 119);
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.skills_container > div:hover{
  
  background: transparent;
  transform: scale(1.05);
  border-color: var(--color-bg-variant);
  cursor: default;

}


.skills_content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4rem;
  row-gap: 2.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.skills_details{
  display: flex;
  gap: 1rem;
}

.skills_details-icons{
  margin-top: 6px;
  color: var(--color-primary);
}

@media screen and (max-width: 1024px){
      .skills_container{
          grid-template-columns: 1fr;
      }

      .skills_container > div{
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
      }

      .skills_content{
        padding: 1rem;
      }
  }


@media screen and (max-width:600px){
 
  .skills_container{
    gap:1rem;
}

.skills_container > div{
  width: 100%;
  padding: 2rem 1rem;
  margin: 0 auto;
}

.skills_content{
  padding: 1rem;
}
}

