.skills_wrapper{
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem 5rem;
  align-items: flex-start;
  
  
}

.data{
  background: var(--color-bg-variant);
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: var(--transition);
  
}

.data:hover{
  
  border-color: var(--color-bg-variant);
  cursor: default;
  transform: scale(1.05);
}


.data div{
  display: flex;
  justify-content: space-between;
  align-items: center;


}

.data_icon{
  background: transparent;
  color: whitesmoke;
  font-size: 1.5rem;
}

.data p{
  margin-top: 1.5rem;
  color: var(--color-light);
}


@media screen and (max-width: 1024px){
  .skills_wrapper{
   /* width:50%; */
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 0.5rem 0.5rem;
   
  }
  .data{
    margin-right: 0.2rem;
    margin-bottom: 1.5rem;
  }
   
 }
 
 @media screen and (max-width:600px){
   .container.project_container{
     width: var(--container-width-sm);
     margin-left: 3rem;
     /* display: grid;
     grid-template-columns: 1fr 1fr;
     gap:4rem; */
   }
 
   
 }
 
 








/* @media screen and (max-width: 1024px){
      .skills_container{
          grid-template-columns: 1fr;
      }

      .skills_container > div{
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
      }

      .skills_content{
        padding: 1rem;
      }
  }


@media screen and (max-width:600px){
 
  .skills_container{
    gap:1rem;
}

.skills_container > div{
  width: 100%;
  padding: 2rem 1rem;
  margin: 0 auto;
}

.skills_content{
  padding: 1rem;
}
}
 */ 
