header{
    height: 100vh;
    padding-top: 2rem;
    overflow:hidden;
}

.header__container{
    text-align: center;
    height: 100%;
    position: relative;
}

.cta{
    margin-top: 2.5rem;
    display: flex;
    gap:1.2rem;
    justify-content: center;
}

.margins{
    margin-top: 1.5rem;
}

.me{
    width: 180px;
    height: 600px;
    position: relative;
    margin-top: 2rem;
    
    left: 50%;
    transform: translateX(-50%);
    border-radius: 12rem 12rem 12rem 12rem;
    overflow: hidden;
    padding: 1px 5px 5px 0px;
}

@media screen and (max-width: 1024px){
    header{
        height:68vh;
    }
}

@media screen and (max-width:600px){
    header{
        height: 100vh;
    }
}