nav{
    background: transparent;
    width: max-content;
    display:block;
    padding: 0.001rem 1.7rem;
    z-index:2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.005rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

nav a{
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;

}

nav a:hover{
    color: skyblue;
    background: transparent;

}

nav a.active{
    background: transparent;
    color: yellow;
}

@media screen and (max-width: 1024px){
    nav{
        width: max-content;
    }
}

@media screen and (max-width:600px){
    nav{
        width: max-content;
    }
}




















/* .header_wrapper .navbar {
    padding: 0.9375rem 0;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.header_wrapper .navbar-brand img {
    max-width: 10rem;
    height: auto;
}

.header_wrapper .navbar-toggler:focus {
    box-shadow: none;
}

.header_wrapper .nav-item {
    margin: 0 0.625rem;
}

.header_wrapper .nav-item .nav-link {
    font-family: var(--primary-font);
    font-size: 0.9375rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--text-black);
    display: inline-block;
}

.header_wrapper .nav-item .nav-link.active,
.header_wrapper .nav-item .nav-link:hover {
    color: var(--primary-text);
}

.header-scrolled {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-white);
    -webkit-box-shadow: 0 0.25rem 0.375rem 0 rgba(110, 102, 133, 0.05);
    box-shadow: 0 0.25rem 0.375rem 0 rgba(12, 0, 46, .05); */

/*.nav__container{
    height:100%;
    display: flex;
    justify-content: space-between;
    gap:3rem;
    align-items: center;
    position: relative;
}

.nav__links{
    display:flex;
    gap: 1rem;
    align-items: center;
}

.nav-item .nav-link.active,
.nav-item .nav-link:hover{
    color: yellow;
}*/